<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlpIHBnzJAZC7LF3WTJ92smg1ZGB-59r8</string>
	<key>GCM_SENDER_ID</key>
	<string>614362032539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.bananagrams</string>
	<key>PROJECT_ID</key>
	<string>bananagrams-9e7d3</string>
	<key>STORAGE_BUCKET</key>
	<string>bananagrams-9e7d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614362032539:ios:6b8df65751401d50e9593e</string>
</dict>
</plist>